body {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    position: relative;
    top: -1px;
    font-weight: bolder;
}


#inlineFormInputGroup {
    width: 300px;
}

#sign-up-form {
    padding-top: 20px;
}

.jumbotron {
    background-image: url("../img/jumbotron_bg3.jpg");
    background-position: 50% 50%;
    background-size: cover;
}

#why-is {
    margin-top: 60px;
    color:#f3b8a5;
}

#footer {
    height: 200px;
    width: 100%;
    background-color: #f3b8a5;
    margin-top: 90px;
}

#download {
    padding-top: 40px;
}

#footer img {
    width: 150px;
}

body {
    position: relative;
}
